@media (max-width: 1200px) {

  .containerProductStore {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr) !important;
    gap: 2vh;
  }


}

@media (max-width: 900px) {

  .containerProductStore {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 5vh  !important;
  }


}

@media (max-width: 720px) {

  .containerProductStore {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 5vh  !important;
  }
  .content-header{
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    padding: 0.4rem;
  }

}

@media (max-width: 480px) {

  .containerProductStore {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 5vh  !important;
  }
  .content-header{
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    padding: 0.4rem;
  }

}